$font: 'Roboto',
sans-serif;
$thin-font: 100;
$regular-font: 400;
$bold-font: 700;
$border-color: #000;

$primary: #e90364;
$secondary: #8514f5;
$highlight: #fd9f29;
$text: #ccc;
$background: #0F0F11;
$shadow: #d024c3;